* {
    margin: 0;
    padding: 0;
    /* remoção da margin e padding padrão */
}

body {
    background-color: #dddada;
    /* mudança da cor de fundo da página */
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #222;
    flex-wrap: wrap;
    /* formatação do menu de navegação, inserindo display flex e removendo o list stlye */
}

li a {
    color: #dddada;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /* formatação dos links do menu de navegação, também removendo o sublinhado padrão */
}

li a:hover {
    font-weight: bold;
    color: #fff;
    background-color: #444;
    /* estilização dos links do menu de navegação ao colocar o mouse em cima */
}

.main {
    width: 100%;
    margin-top: 20px;
    /* pequena separação entre o cabeçalho e o conteúdo principal */
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 50px 30px;
    margin: 0 auto 30px auto;
    border-bottom: 4px solid #fff;
    width: 80%;
    /* estilização dos containers, adicionando margin e padding para melhor disposição dos conteúdos */
    /* borda inferior inserida para separar um conteúdo do outro de forma mais clara */
}

.titulo {
    font-size: 34px;
    color: #222;
    margin-bottom: 10px;
    /* estilização dos títulos */
}

.paragrafo {
    font-size: 18px;
    line-height: 1.5em;
    /* estilização dos paragrafos */
}

.container a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

.container a:hover {
    font-weight: bold;
    /* estilização dos links ao colocar o mouse em cima, para mais claridade visual */
}

.container input {
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 1.3rem;
    /* estilização da fonte e tamanho dos inputs */
}

.container button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #222;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    /* estilização do botão, deixando as bordas redondas e mudando as corer da fonte e de fundo */
}
