* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddada;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #222;
    flex-wrap: wrap;
}

li a {
    color: #dddada;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

li a:hover {
    font-weight: bold;
    color: #fff;
    background-color: #444;
}

.main {
    width: 100%;
    margin-top: 20px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 50px 30px;
    margin: 0 auto 30px auto;
    border-bottom: 4px solid #fff;
    width: 80%;
}

.titulo {
    font-size: 34px;
    color: #222;
    margin-bottom: 10px;
}

.paragrafo {
    font-size: 18px;
    line-height: 1.5em;
}

.container a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

.container a:hover {
    font-weight: bold;
}

.container input {
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 1.3rem;
}

.container button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #222;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
}